version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./DB/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      - app_network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: my_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - app_network

  correo_api:
    build: ./Correo
    container_name: correo_api
    restart: always
    ports:
      - "8002:8000"
    volumes:
      - ./Correo/app:/app/app 
    networks:
      - app_network

volumes:
  postgres_data:


networks:
  app_network:
    driver: bridge
