services:
  etcd:
    image: bitnamilegacy/etcd:3.5.11
    restart: always
    volumes:
      - etcd_data:/bitnami/etcd
    environment:
      ETCD_ENABLE_V2: "true"
      ALLOW_NONE_AUTHENTICATION: "yes"
      ETCD_ADVERTISE_CLIENT_URLS: "http://etcd:2379"
      ETCD_LISTEN_CLIENT_URLS: "http://0.0.0.0:2379"
    ports:
      - "2379:2379"

  apisix:
    image: apache/apisix:3.14.1-debian
    depends_on:
      - etcd
    ports:
      - "9080:9080"
      - "9180:9180"
    volumes:
      - ./config.yaml:/usr/local/apisix/conf/config.yaml:ro

  apisix-dashboard:
    image: apache/apisix-dashboard:3.0.1-alpine 
    depends_on:
      etcd:
        condition: service_healthy
      apisix:
        condition: service_healthy
    ports:
      - "9000:9000"
    volumes:
      - ./dashboard_conf/conf.yaml:/usr/local/apisix-dashboard/conf/conf.yaml
    


volumes:
  etcd_data: